<h1>
  Login
</h1>

<div class="alert alert-danger">
  {{error}}
</div>
<form class="col-md-6" #loginForm="ngForm" (submit)="login()">
  <div class="form-group">
    <input appHover [backcolor]="'yellow'" class="form-control" type="text" [(ngModel)]="user.userName" name="username" placeholder="UserName">
  </div>
  <div class="form-group">
    <input appPassword class="form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Password" #password="ngModel">

    {{password.errors | json}}
  </div>

  <div>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </div>

</form>

